<% include('./partials/header.ejs') %>
<h1>this is signup</h1>
<form>
  <input type="text" id="email" class="form-control" />
  <input type="password" id="password" class="form-control" />
  <button onclick="handleClick()" class="btn btn-primary" type="submit">
    Submit
  </button>
</form>

<% include('./partials/header.ejs') %>
